<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="FarmManagementConnectionString" connectionString="Data Source=ZKK-COMPUTER;Initial Catalog=FarmManagement;Persist Security Info=True;User ID=sa;Password=sa123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>